#mapa {
	text-align: center;
}

#popup {
    display:none;
    width:200px;
    height:260px;
    background-color:#DEDFDE;
    font-family:Verdana;
    font-size:10pt;
    font-weight:bold;
    text-align: center;
    position: absolute;
}

#popup input {
    font-size: 13.3333px;
    font-family: Arial;
    font-weight: normal;
}

input.tempo {
	width: 34px;
    height: 21px;
}

input#where {
	width: 74px;
    height: 21px;
}

#divTabela {
}

.tabela { 
    margin-left: auto;
    margin-right: auto;
}

.tabela th {
    text-align: center;
}

.vaiNascer {
    color: red;
    font-weight: bold;
}