#mapa {
	text-align: center;
}

#popup
{
    display:none;
    width:200px;
    height:220px;
    background-color:#DEDFDE;
    font-family:Verdana;
    font-size:10pt;
    font-weight:bold;
    text-align: center;
    position: absolute;
}

input.tempo{
	width: 30px;
}

input#where{
	width:70px;
}